<table>
<tr>
  <th>Case Title</th>
  <th>Summary</th>
</tr>

<tr>
  <td><%= @casetitle.title %></td>
  <td><%= @casetitle.summary %></td>
</tr>
</table>

<br>
<%= link_to 'Back to Cases', casetitles_path %>